
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Report Application</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<h1 style="text-align: center">Report Application</h1>
	<div class="container border border-black p-3">
		<form th:action="@{/search}" th:object="${plan}" method="post" >
			<table class="table">
				<tr>
					<td>Plan Name :</td>
					<td><select name="planName">
							<option value="">--select--<option>
							<option th:each="name:${names}" th:text="${name}"><option>
						</select></td>

					<td>Plan Status :</td>
					<td><select name="planStatus">
							<option value="">--select--</option>
							<option th:each="status:${status}" th:text="${status}" />
						</select></td>

					<td>Gender :</td>
					<td><select name="gender">
							<option value="">--select--</option>
							<option th:value="Male">Male</option>
							<option th:value="Fe-Male">Fe-Male</option>
						</select></td>
				</tr>

				<tr>
					<td>Start Date :</td>
					<td><input type="date" name="planStartDate" /></td>
					<td>End Date :</td>
					<td><input type="date" path="planEndDate" /></td>
				</tr>

				<tr>
					<td>
						<a href="/" class="btn btn-secondary" >Reset</a>
					<input type="submit" value="search"
						class="btn btn-primary" />
						</td>
				</tr>

			</table>
		</form>
		<hr />
	<table class="table table-dark table-striped">
		<thead>
		<tr>
		<td>Id</td>
		<td>Holder Name</td>
		<td>Gender</td>
		<td>Plan Name</td>
		<td>Plan Status</td>
		<td>Start Date</td>
		<td>End Date</td>
		<td>Benefit Amount</td>
		</tr>
		</thead>
		<tbody>
		
		
		      <tr th:each="p : ${plan}">
		<td th:text="${p.citizenId}"></td>
		<td th:text="${p.citizenName}"></td>
		<td th:text="${p.gender}"></td>
		<td th:text="${p.planName}"></td>
		<td th:text="${p.planStatus}"></td>
		<td th:text="${p.planStartDate}"></td>
		<td th:text="${p.planEndDate}"></td>
		<td th:text="${p.benifitAmt}"></td>
		</tr>
		<tr>
		<td colspan="8" style="text-align:center" th:if="${p != 0}">
 no record found
</td>
</tr>
		</tbody>
		</table>
		<hr />

		Export : <a href="/excel"><i class="fa-solid fa-file-excel mx-2"
			style="font-size: 30px; color:green;"></i></a> 
			<a href="/pdf"><i class="fa-solid fa-file-pdf " style="font-size: 30px; color:red"></i></a>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>